.group {
  height: 26px;
  width: 169px;
}

.group .div {
  height: 26px;
  position: relative;
  width: 173px;
}

.group .element {
  color: var(--solid-heading);
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 149px;
}

.group .fa-phone {
  color: var(--solid-heading);
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 9px;
}
